:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.home {
    width: 100%;
    height: 100vh;
    background: url(../images/landing.jpg) center center/cover
    no-repeat;
    position: relative;
}

.home .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    
} 
.home .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #a2a2a2;
    z-index: 2;
}

.home .links ul li{
    display: inline-block;
    margin-left: 50px;

}
.home .links ul li a{
    text-decoration: none;
    color: white;
    padding-bottom: 28.5px;

}

.align{
    color: #fff;
    cursor: pointer;
}
@media (max-width:992px) {
    .home .links {
        display: none;
    }
}
@media (min-width:992px) {
    .align{
        display: none;
    }
}
.home .links .active{
    
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.home .links ul li a:hover{
    
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.home .right{
    position: absolute;
    right: 3%;
    top: 50%;
   transform: translate(-50% ,-50%);
   cursor: pointer;
    color: #fff;
}
.home .left{
    position: absolute;
    left: 3%;
    top: 50%;
   transform: translate(-50% ,-50%);
   cursor: pointer;

    color: #fff;
}
.home .bolleds ul li{
    width: 20px;
    height: 20px;
    border:none;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.home .bolleds .active{
    background-color: var(--main-color);
    border: none;
}
.home .bolleds{
    position: absolute;
    left: 50%;
    bottom:  5%;
   transform: translate(-50% ,-50%);
    color: #fff;
}
.home .text{

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
.home .text .content{
  max-width: 500px;
} 
@media (max-width:786px) {
    .home .text {
    width: 100%;   
    padding: 50px;
}
/* .home .text .content{
width: 100%;  }  */
}
.home .text .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
} 
.home .text .content p{
    font-size: 14px;
    line-height: 2;
} 
.srv{
    padding-top: var(--section-padding);
    /* padding-bottom: var(--section-padding); */
}
.heading h2{
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.heading h2::before{
  content: "";  
  width: 120px;
  height: 2px;
  background-color: #333;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.heading h2::after{
    content: "";  
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
.heading p{
    text-align: center;
    width: 550px;
    max-width: 100%;
    margin: 0 auto 100px;
    line-height: 2;
    color: #777;
}
.srv .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.srv .box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    position: relative;
}
.srv .box p{
 width: 350px;
    max-width: 100%;
/* margin-left: auto;
margin-left: auto; */
}
@media (max-width:350px) {
    .srv .box .text p{
        
      width: 250px;
     
       }
}
.srv .box i{
   margin-right: 50px;
}
.srv .box h3{
    margin-bottom: 30px;
    color: var(--main-color);
 }
 .srv .box p{
    line-height: 2;
    color: #777;

 }
 @media (max-width:992px) {
    .srv .box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 50px;
        text-align: center
    }
    .srv .box i{
        margin: 0 0 30px ;
        
     }
     .srv .content{
     align-items: center;
     justify-content: center;
    }

 }
.desgin{
    height: 600px; 
    position: relative;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.desgin::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
}
.desgin .ul {
    color: white;
    padding: 50px ;
    background-color: var(--transparent-color);
    z-index: 2;

}
.desgin ul li{
    list-style: none;
}
.desgin .ul h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.desgin .imge{
     flex: 1;
}
.desgin .ul{
    flex: 1;
}
.desgin .imge {
    text-align: center;
}

.imge img{
    position: relative;
    bottom: -150px;
    z-index: 2;
   
}
.ul ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
.ul ul li{
    padding: 15px 0;
}
@media (max-width: 768px) {
    .imge img{
     display: none;
       
    }
    .desgin .ul{
        flex: 100%;
    }
}
.portofolio{
    padding-top: var(--section-padding);
}
.porto .links{
    padding-bottom: 50px;
}
.porto .links ul li{
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;

}
.porto .links .active{
    background-color: var(--main-color);
    color: white;
}

.porto .links{
  
    text-align: center;
}
.porto .imegs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 50px;
}
@media (max-width: 992px) {
    .porto .imegs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 786px) {
    .porto .imegs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
.imegs .box img{
    width: 100%;
    height: 100%;
    transition: .3s;
}
.imegs .box:hover img{
    transform: rotate(3deg) scale(1.1);
}
.box{
    position: relative;
    overflow:hidden ;
}
.box .caption{
    position: absolute;
    bottom: -100px;
    width: 100%;
    z-index:2;
    background-color: white;
    padding: 20px;
    transition: .3s;
}

.box:hover.box .caption{
    bottom: 0px;

}
.box .caption h4{
    font-weight: normal;
    margin-bottom: 10px;
}
.box .caption p{
    color: var(--main-color);

}
.herf{
    text-align: center;
    padding-bottom: 30px;
}
.herf button{
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 50px auto;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}
.video{
position: relative;
}
.video::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
}

.video video{
 
    width: 100%;
}
.video .text{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    width: 100%;
    background-color: var(--transparent-color);
    padding: 50px;
    z-index: 2;

}
.video .text h2{
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
}
.video .text p{
    margin: 0 0 30px;
    color: white;
}
.video .text button{
    /* margin: 0 0 30px; */
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
}
.about{
    padding-top: var(--section-padding);
}
.about .imge {
    overflow: hidden;

}
.about .imge img{
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -120px;
}
.boxs{
    padding-top: var(--section-padding) ;
    padding-bottom: var(--section-padding) ;
    background-image: url(../images/stats.png);
    position: relative;
}
.boxs::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
}
.boxs .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    color:#fff;
    background-color:var(--transparent-color) ;
    position: relative;
    z-index: 2;

}
.boxs .container i{
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 30px auto 30px;
}
.boxs .container h2{

    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}
.boxs .container p{

    font-size: 14px;
    padding-bottom: 20px;
}
.boxs .container .box{
    flex-basis: 25%;
}
@media (max-width:992px) {

    .boxs .container .box{
    flex-basis: 50%;
}
}
@media (max-width:750px) {

    .boxs .container .box{
    flex-basis: 100%; 
    }
    .about .boxs{
        padding-left: 15px;
        padding-right: 15px;
    }
}
.skils{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skils .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
@media (max-width:992px) {
    .skils .container{
    
        gap: 50px;
    }
    
}

@media (max-width:750px) {

    .skils .container{
        display: grid;
        grid-template-columns: 1fr ;
        row-gap: 50px;
    }
}
.teti h3 , .ourskils h3{
    text-align: center;
    margin: 0 0 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.ourskils p, .teti p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;

}

.skils .container .box{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.skils .container .box img{
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media (max-width:750px) {
    .skils .container .box{
        display: flex;
        flex-direction: column;
        text-align: center;
        /* align-items: center; */
        margin-bottom: 30px;
    }
    .skils .container .box img{
        width: 100px;
        border-radius: 50%;
        margin: 0 0 30px 0;
    }
}

.skils .container .box .text{
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.skils .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.bar {
    text-align: center;
}
.bar ul li{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 50px;
   
}
.bar .active{
    background-color: var(--main-color);
    border: none;
}
.prog-holdrt{
    margin-bottom: 40px;
}
.prog-holdrt h4{
    margin-bottom: 14px;
    font-weight: normal;
    text-transform: uppercase;
}
.prog{
    background-color:#dededc;
    height: 30px;
}
.prog span{
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.prog span::before{
  content: attr(data-prog);
  position: absolute;
  background-color: black;
  color: #fff;
  top: -40px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
  right: -18px;
}
.prog span::after{
    content: "";
    position: absolute;
    right: -6px;
    top: -15px ;
    border: 8px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  
}

.section{
    
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    position: relative;
    background-image: url(../images/quote.jpg);
    text-align: center;
    background-size: cover;
    background-color: black;
    color: #fff;

}
.section::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 75%);

}
.section .container{
    position: relative;
    z-index: 2;
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
.section .container p{
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
.section .container p::after{
    content: open-quote;
}
.section .container p::before{
    content: close-quote;
}
.section .container span{
    font-size: 16px;
}
.pric{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.plans{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 30px;
}
.plan ul li{
    list-style: none;
}
.plan{
    background-color: #fcfcfc;
    text-align: center;
}
.plan .head{
    padding: 40px 20px;
    border-top: 1px solid var(--main-color) ;
    border-bottom: 1px solid var(--main-color) ;
}
.plan .head h3{
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.plan .head span{
    font-size: 60px;
    font-weight: bold;

}
.plan .head span::before{
    content: "$";
    font-size: 25px;
    font-weight: normal;
    position: relative;
    top: -40px;
    margin-right: 15px;

}
.plan .head span::after{
    content: "/Mo";
    font-size: 25px;
    position: relative;
    right: -15px;

}
.plan ul li{
    padding: 20px;
    position: relative;
  
   
}
.plan ul li::before{
    content: '';
    position: absolute;
    width:50%;
    left: 25%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-color);
    bottom:  0;
   
}
.plan ul li:last-child:before{
    content: '';
    position: absolute;
    width:100%;
    left: 0%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-color);
    bottom:  0;
   
}
footer a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
}
.pric .content p{
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}
.pric .content a{
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}
.form{
    background-image: url(../images/subscribe.jpg);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    /* display: flex; */
    color: #fff;
    position: relative;
}
.form::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);

}

.form .container{
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 30px;
    position: relative;
    z-index: 2;
    justify-content: space-between;
}
@media (max-width:992px) {
    .form .container{
        display: grid;
        grid-template-columns:1fr ;
    text-align: center;}
}

.form input[type="email"] {
        
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(90% - 130px);
 
}
.form input[type="email"]::placeholder{
    font-size: 25px;
    color: #fff;

}
.form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 20px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
    margin-left: -3px;
}
.form p {
    line-height: 2;
    margin-left: 50px;

}
.contactr{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.footer{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 30px;
}

.footer .right input[placeholder="Your Name"],
.footer .right input[placeholder="Your Email"]

{
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.footer .right input[placeholder="Your Message"]{
display: block;
width: 100%;
height: 200px;
}
/* .right input[placeholder="Your Message"]::placeholder{
    color: #000;
} */
.footer .left .once{
    font-weight: normal;
    margin-bottom: 20px;
}
.footer .left span{
    display: block;
    margin-bottom: 10px;
    color: #777;
}
.footer .left .twice{
    margin-top: 100px;
    font-weight: normal;
}
address{
    margin-top: 50px;
    font-weight: normal;
    color: #777;
    line-height: 2;
}
@media (max-width:550px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr;
       
    /* display: flex;
    flex-direction: column-reverse;     */
    }
    .footer .right{
        order: 2;
    }
    .footer.left{
        order: 1;
    }
    .footer .left{
        text-align: center;
        margin-top: -50px;
    }

.footer .left .once{
    margin-bottom: 15px;
}
.footer .left span{
    margin-bottom: 10px;
}
.footer .left .twice{
    margin-top: 15px;
}
address{
    margin-top: 10px;
}
}
.buuton{
    text-align: center;
}
.buuton button{
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    margin-top: 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.end{
    background-image: url(../images/subscribe.jpg);
    color: #fff;
    position: relative;
    padding-top: 50px;
    padding-bottom:50px;
}
.end::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    background-color: rgb(0 0 0 / 50%);
}
.end .container{
    position: relative;
    z-index: 2;
    text-align: center;
}
.first{
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}
.icon i{
    padding: 10px 15px;
}
.scond{ 
     margin-top: 60px;
}
.scond span{ 
    color: var(--main-color);
}